<div class="row">
        <div class="col-xs-12 col-sm-4">
          <div class="form-group">
            <input type="file" class="dropify" data-default-file="https://raw.githubusercontent.com/lampv318/image/master/noavatar.jpg">
            <span class="help-block">Please choose a 4:6 profile picture.</span>
          </div>
        </div>

        <div class="col-xs-12 col-sm-8">
          <div class="form-group">
            <input type="text" class="form-control input-lg" placeholder="Name">
          </div>
          
          <div class="form-group">
            <input type="text" class="form-control" placeholder="Headline (e.g. Front-end developer)">
          </div>

          <div class="form-group">
            <textarea class="form-control" rows="3" placeholder="Short description about you"></textarea>
          </div>

          <hr class="hr-lg">

          <h6>Basic information</h6>
          <div class="row">

            <div class="form-group col-xs-12 col-sm-6">
              <div class="input-group input-group-sm">
                <span class="input-group-addon"><i class="fa fa-map-marker"></i></span>
                <input type="text" class="form-control" placeholder="Location, e.g. Melon Park, CA">
              </div>
            </div>

            <div class="form-group col-xs-12 col-sm-6">
              <div class="input-group input-group-sm">
                <span class="input-group-addon"><i class="fa fa-globe"></i></span>
                <input type="text" class="form-control" placeholder="Website address">
              </div>
            </div>

            <div class="form-group col-xs-12 col-sm-6">
              <div class="input-group input-group-sm">
                <span class="input-group-addon"><i class="fa fa-usd"></i></span>
                <input type="text" class="form-control" placeholder="Salary, e.g. 85">
                <span class="input-group-addon">Per hour</span>
              </div>
            </div>

            <div class="form-group col-xs-12 col-sm-6">
              <div class="input-group input-group-sm">
                <span class="input-group-addon"><i class="fa fa-birthday-cake"></i></span>
                <input type="text" class="form-control" placeholder="Age">
                <span class="input-group-addon">Years old</span>
              </div>
            </div>

            <div class="form-group col-xs-12 col-sm-6">
              <div class="input-group input-group-sm">
                <span class="input-group-addon"><i class="fa fa-phone"></i></span>
                <input type="text" class="form-control" placeholder="Phone number">
              </div>
            </div>

            <div class="form-group col-xs-12 col-sm-6">
              <div class="input-group input-group-sm">
                <span class="input-group-addon"><i class="fa fa-envelope"></i></span>
                <input type="text" class="form-control" placeholder="Email address">
              </div>
            </div>

          </div>

          <hr class="hr-lg">

          <h6>Tags list</h6>
          <div class="form-group">
            <input type="text" value="HTML,CSS,Javascript" data-role="tagsinput" placeholder="Tag name">
            <span class="help-block">Write tag name and press enter</span>
          </div>

        </div>
      </div>
